[Interface]
Address = {{ node.wireguard_ip }}
PrivateKey = {{ key.private_key }}
ListenPort = {{ node.listen_port or 51820 }}

{% for peer in peers %}
[Peer]
{% if peer.is_passive %}
# {{ peer.peer_name }} (passive connection - no endpoint)
{% else %}
# {{ peer.peer_name }} via {{ peer.endpoint_name }}
{% endif %}
PublicKey = {{ peer.public_key }}
PresharedKey = {{ peer.psk }}
{% if peer.endpoint %}
Endpoint = {{ peer.endpoint }}
{% endif %}
AllowedIPs = {{ peer.allowed_ips | join(",") }}
{% if peer.keepalive > 0 %}
PersistentKeepalive = {{ peer.keepalive }}
{% endif %}
{% endfor %}